<?xml version="1.0"?>
<launch>

  <arg name="robot_config" default="$(find robot_test)/config/bh282_robot_sim.yaml" />

  <rosparam command="load" file="$(arg robot_config)" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find bhand)/urdf/bh282_robot.xacro'" />

  <include file="$(find bhand)/launch/common.launch" />

  <node name="bh282_robot_test_node"
        pkg="robot_test"
        type="bh282_robot_test"
        required="true" respawn="false" cwd="node" output="screen">

        <rosparam>
          <!--  pack, finger1, finger2, finger3 -->
          q1: [ 1.1,    1.5,     1.4,     1.7]
          q2: [ 0.0,    0.1,     0.2,     0.1]
          time_duration: 2.5 <!-- duration to move from q1 to q2 and vice versa -->
          use_sim: false
        </rosparam>

  </node>

</launch>
