<?xml version="1.0"?>
<robot name="LWR" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find lwr_description)/urdf/kuka_lwr_arm.xacro"/>
<!-- Import all Gazebo-customization elements, including Gazebo colors -->
<xacro:include filename="$(find lwr_description)/urdf/kuka_lwr_arm.gazebo"/>

<xacro:include filename="$(find bhand_description)/urdf/bh282.urdf.xacro"/>
<!-- Import all Gazebo-customization elements, including Gazebo colors -->
<xacro:include filename="$(find bhand_description)/urdf/bh282.gazebo.xacro"/>

<!-- Inserts the Kuka here with a specified name and direction ... -->

<xacro:kuka_lwr_arm parent="world" name="lwr" right="1" tool_name=""/>
<xacro:kuka_lwr_arm_gazebo name="lwr"/>

<!-- Inserts the barrett here with a specified name and direction ... -->
<xacro:bhand_macro name="bh" parent="lwr_arm_7_link">
  <origin xyz="0 0 0" rpy="0 0 0" />
</xacro:bhand_macro>

<link name="world" />

</robot>
