<?xml version="1.0"?>
<launch>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true">
    <rosparam param="source_list"> ["/robot_sim_joint_states"] </rosparam>
    <rosparam param="rate">50</rosparam>
    <rosparam param="use_gui">true</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true"/>

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find robot_sim)/rviz/config.rviz" output="screen" required="true"/>


</launch>
