<?xml version="1.0"?>
<launch>

  <!--
  =====  Load Configuration file  =====
  -->
  <arg name="robot_config" default="$(find lwr4p_test)/config/multi_lwr4p_robots_test.yaml" />
  <rosparam command="load" file="$(arg robot_config)" />

  <!--
  =====  Load Robot description  =====
  -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find lwr4p_test)/urdf/multi_lwr4p_robots_test.xacro'" />

  <!-- Set the name of the topic for publishing the joints states -->
  <arg name="publish_states_topic" default="/robot_joint_states" />

  <!--
  =====  Launch joint_state_publisher, robot_state_publisher and rviz  =====
  -->
  <!-- <include file="$(find lwr4p)/launch/common.launch" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true">
    <rosparam param="source_list" subst_value="true">[$(arg publish_states_topic)]</rosparam>
    <rosparam>
      rate: 50
      use_gui: true
    </rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find lwr4p_test)/rviz/multi_lwr4p_robots_test.rviz" output="screen" required="true"/>

  <!--
  =====  Launch execution node  =====
  -->
  <node name="multi_lwr4p_robots_test_node"
        pkg="lwr4p_test"
        type="multi_lwr4p_robots_test"
        required="true" respawn="false" cwd="node" output="screen">

        <rosparam param="publish_states_topic" subst_value="true">$(arg publish_states_topic)</rosparam>
  </node>


</launch>
